In [3]:
!pip install PyMySql

Requirement already satisfied: PyMySql in c:\programdata\anaconda3\lib\site-packages (0.10.1)

In [97]:
import pymysql

In [98]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='kwanghee', passwd='5000', db='w3schools', charset='utf8')

In [99]:
cursor=db.cursor()

In [100]:
sql='select * from customers'
cursor.execute(sql)
resultset=cursor.fetchall()
print(resultset)   #튜플 형태

((1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'), (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico'), (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico'), (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'), (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'), (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'), (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'), (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'), (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'), (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'), (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'), (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'), (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico'), (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'), (15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'), (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'), (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'), (18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'), (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'), (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'), (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'), (22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'), (23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France'), (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden'), (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'), (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'), (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'), (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'), (29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain'), (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'), (31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'), (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'), (33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5ª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela'), (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'), (35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela'), (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'), (37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland'), (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'), (39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'), (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'), (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'), (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'), (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'), (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'), (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'), (46, 'LILA-Supermercado', 'Carlos González', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela'), (47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela'), (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'), (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'), (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'), (51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada'), (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany'), (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'), (54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'), (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'), (56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany'), (57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'), (58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '05033', 'Mexico'), (59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria'), (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal'), (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'), (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'), (63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '01307', 'Germany'), (64, 'Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'), (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'), (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'), (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'), (68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genève', '1203', 'Switzerland'), (69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain'), (70, 'Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'), (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'), (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'), (73, 'Simons bistro', 'Jytte Petersen', 'Vinbæltet 34', 'København', '1734', 'Denmark'), (74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'), (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'), (76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'), (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'), (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'), (79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany'), (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '05033', 'Mexico'), (81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil'), (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'), (83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark'), (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'), (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'), (86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'), (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'), (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'), (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'), (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland'), (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland'), (999, 'TEST', 'TEST', 'TEST', 'SEOUL', '12345', 'Korea'))

In [15]:
cursor =db.cursor(pymysql.cursors.DictCursor)

In [102]:
sql='select * from customers'
cursor.execute(sql)
resultset=cursor.fetchall()
for result in resultset:
    print(result)#튜플 형태

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5ª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Carlos González', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany')
(53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany')
(57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '05033', 'Mexico')
(59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '01307', 'Germany')
(64, 'Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genève', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')
(70, 'Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Jytte Petersen', 'Vinbæltet 34', 'København', '1734', 'Denmark')
(74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '05033', 'Mexico')
(81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(999, 'TEST', 'TEST', 'TEST', 'SEOUL', '12345', 'Korea')

In [52]:
sql='select * from customers where country=%s'
cursor.execute(sql,'uk')
rs=cursor.fetchall()
for result in rs:
    print(result)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')

In [53]:
sql='select * from customers where country=%s'
cursor.execute(sql,'uk')
rs=cursor.fetchone()
rs

(4,
 'Around the Horn',
 'Thomas Hardy',
 '120 Hanover Sq.',
 'London',
 'WA1 1DP',
 'UK')

In [54]:
sql='''
create table scores(
    name varchar(20) not null,
    math int,
    science int,
    english int,
    primary key(name)
)
'''
cursor.execute(sql)
db.commit()

OperationalError: (1050, "Table 'scores' already exists")

In [55]:
sql='insert into scores values("광희킴",100,100,100)'
cursor.execute(sql)
db.commit()

In [34]:
sql='delete from scores where name="광희킴"'
cursor.execute(sql)
db.commit()

In [35]:
db.close()

In [36]:
sql='delete from scores where name="광희킴"'
cursor.execute(sql)
db.commit()

InterfaceError: (0, '')

In [44]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='kwanghee', passwd='5000', db='w3schools', charset='utf8')

In [45]:
cursor=db.cursor()

In [72]:
sql='''
create table scores4(
    id INT(10) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    name varchar(20),
    math int,
    science int,
    english int
)
'''

cursor.execute(sql)
db.commit()

In [84]:
while True:
    select_menu=int(input('1-입력, 2-조회, 3-삭제, 0-종료 :'))
    if select_menu==1:
        name=input('이름: ')
        math=int(input('점수: '))
        science=int(input('점수: '))
        english=int(input('점수: '))
        sql='insert into scores4(name,math,science,english) values("{}",{},{},{})'.format(name,math,science,english)
        cursor.execute(sql)
        db.commit()
    elif select_menu==2:
        sql='select * from scores4'
        cursor.execute(sql)
        resultset=cursor.fetchall()
        for result in resultset:
            print('[{}] 이름: {}, 수학: {}, 과학: {}, 영어: {}'.format(result[0],result[1],result[2],result[3],result[4]))
    elif select_menu==3:
        delete_id=int(input('몇번째 id를 삭제하겠습니까?'))
        sql='delete from scores4 where id={}'.format(delete_id)
        cursor.execute(sql)
        db.commit() 
    elif select_menu==0:
        print('종료되었습니다.')
        db.close()
        break

1-입력, 2-조회, 3-삭제, 0-종료 :2
[1] 이름: 김광희, 수학: 100, 과학: 100, 영어: 100
[4] 이름: 현빈, 수학: 70, 과학: 80, 영어: 90
[5] 이름: 양태원, 수학: 100, 과학: 100, 영어: 100
[6] 이름: 신재섭, 수학: 60, 과학: 70, 영어: 50
[7] 이름: 최민용, 수학: 80, 과학: 60, 영어: 40
[8] 이름: 황대선, 수학: 80, 과학: 60, 영어: 70
1-입력, 2-조회, 3-삭제, 0-종료 :3
몇번째 id를 삭제하겠습니까?6
1-입력, 2-조회, 3-삭제, 0-종료 :2
[1] 이름: 김광희, 수학: 100, 과학: 100, 영어: 100
[4] 이름: 현빈, 수학: 70, 과학: 80, 영어: 90
[5] 이름: 양태원, 수학: 100, 과학: 100, 영어: 100
[7] 이름: 최민용, 수학: 80, 과학: 60, 영어: 40
[8] 이름: 황대선, 수학: 80, 과학: 60, 영어: 70
1-입력, 2-조회, 3-삭제, 0-종료 :0
종료되었습니다.

In [95]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='kwanghee', passwd='5000', db='w3schools', charset='utf8')

In [118]:
cursor=db.cursor()
sql='select * from order_details inner join products on order_details.ProductID=products.ProductID inner join suppliers on products.SupplierID=suppliers.SupplierID order by order_details.Quantity desc limit 3'
cursor.execute(sql)
resultset=cursor.fetchall()
for result in resultset:
    print(result)

(401, 10398, 55, 120, 55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24.0, 25, 'Ma Maison', 'Jean-Guy Lauzon', '2960 Rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada', '(514) 555-9022')
(103, 10286, 35, 100, 35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18.0, 16, 'Bigfoot Breweries', 'Cheryl Saylor', '3400 - 8th Avenue Suite 210', 'Bend', '97101', 'USA', '(503) 555-9931')
(512, 10440, 61, 90, 61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 28.5, 29, "Forêts d'érables", 'Chantal Goulet', '148 rue Chasseur', 'Ste-Hyacinthe', 'J2S 7S8', 'Canada', '(514) 555-2955')

In [120]:
cursor=db.cursor()
sql='select order_details.Quantity, suppliers.SupplierName from order_details inner join products on order_details.ProductID=products.ProductID inner join suppliers on products.SupplierID=suppliers.SupplierID order by order_details.Quantity desc limit 3'
cursor.execute(sql)
resultset=cursor.fetchall()
for result in resultset:
    print(result)

(120, 'Ma Maison')
(100, 'Bigfoot Breweries')
(90, "Forêts d'érables")

In [121]:
cursor=db.cursor()
sql='''
select order_details.Quantity, categories.categoryid, customers.City from order_details inner join orders on order_details.orderid=orders.orderid
inner join customers on customers.CustomerID=orders.CustomerID inner join products on products.ProductID=order_details.ProductID inner join categories on categories.CategoryID=products.CategoryID
order by  order_details.Quantity desc
'''

cursor.execute(sql)
resultset=cursor.fetchall()
for result in resultset:
    print(result)

(120, 6, 'Boise')
(100, 1, 'Cunewalde')
(90, 2, 'Boise')
(80, 2, 'Boise')
(80, 3, 'Cunewalde')
(80, 4, 'London')
(80, 6, 'Graz')
(80, 8, 'Cork')
(77, 2, 'Graz')
(70, 1, 'Boise')
(70, 2, 'Seattle')
(70, 2, 'Cunewalde')
(70, 3, 'Boise')
(70, 3, 'Graz')
(70, 3, 'Albuquerque')
(70, 4, 'London')
(70, 4, 'München')
(70, 4, 'Graz')
(70, 4, 'São Paulo')
(70, 5, 'Albuquerque')
(70, 6, 'Montréal')
(70, 6, 'San Cristóbal')
(65, 2, 'Graz')
(65, 2, 'Graz')
(60, 1, 'Cunewalde')
(60, 1, 'Montréal')
(60, 1, 'Strasbourg')
(60, 2, 'Graz')
(60, 3, 'Graz')
(60, 3, 'Århus')
(60, 4, 'Graz')
(60, 4, 'Seattle')
(60, 4, 'Graz')
(60, 4, 'Genève')
(60, 4, 'München')
(60, 4, 'Albuquerque')
(60, 5, 'Graz')
(60, 8, 'Graz')
(60, 8, 'Cunewalde')
(56, 3, 'London')
(56, 4, 'München')
(55, 3, 'Cunewalde')
(55, 4, 'Cunewalde')
(54, 1, 'Cunewalde')
(50, 1, 'Graz')
(50, 1, 'Salzburg')
(50, 1, 'København')
(50, 1, 'São Paulo')
(50, 1, 'Madrid')
(50, 2, 'I. de Margarita')
(50, 3, 'Graz')
(50, 3, 'Marseille')
(50, 3, 'Barquisimeto')
(50, 3, 'Anchorage')
(50, 4, 'Bräcke')
(50, 4, 'São Paulo')
(50, 4, 'Salzburg')
(50, 4, 'Cork')
(50, 5, 'Anchorage')
(50, 5, 'Frankfurt a.M.')
(50, 6, 'Tsawassen')
(50, 7, 'Graz')
(50, 8, 'München')
(50, 8, 'Tsawassen')
(49, 1, 'Montréal')
(49, 3, 'Boise')
(49, 4, 'Tsawassen')
(48, 7, 'Cork')
(45, 1, 'Cunewalde')
(45, 1, 'Boise')
(45, 6, 'Graz')
(45, 8, 'Graz')
(42, 1, 'Rio de Janeiro')
(42, 4, 'Montréal')
(42, 4, 'São Paulo')
(42, 7, 'Boise')
(42, 7, 'São Paulo')
(40, 1, 'Cork')
(40, 1, 'Graz')
(40, 1, 'São Paulo')
(40, 1, 'Marseille')
(40, 2, 'Tsawassen')
(40, 2, 'Lisboa')
(40, 3, 'Rio de Janeiro')
(40, 3, 'Charleroi')
(40, 3, 'Rio de Janeiro')
(40, 3, 'Cork')
(40, 3, 'Cunewalde')
(40, 3, 'Toulouse')
(40, 4, 'Albuquerque')
(40, 4, 'Albuquerque')
(40, 4, 'Boise')
(40, 4, 'Charleroi')
(40, 4, 'Oulu')
(40, 4, 'Brandenburg')
(40, 5, 'München')
(40, 5, 'München')
(40, 5, 'Bergamo')
(40, 5, 'Strasbourg')
(40, 6, 'Charleroi')
(40, 6, 'London')
(40, 6, 'Lander')
(40, 6, 'München')
(40, 7, 'São Paulo')
(40, 8, 'Montréal')
(40, 8, 'Cork')
(40, 8, 'München')
(40, 8, 'Cunewalde')
(40, 8, 'Sevilla')
(36, 1, 'Århus')
(36, 3, 'København')
(36, 6, 'Albuquerque')
(36, 6, 'Cunewalde')
(36, 7, 'Graz')
(35, 1, 'Bräcke')
(35, 1, 'London')
(35, 1, 'Århus')
(35, 2, 'Seattle')
(35, 2, 'Cork')
(35, 2, 'København')
(35, 3, 'Genève')
(35, 3, 'Strasbourg')
(35, 3, 'Lille')
(35, 4, 'Barquisimeto')
(35, 5, 'Graz')
(35, 6, 'Strasbourg')
(35, 7, 'Salzburg')
(35, 7, 'Rio de Janeiro')
(35, 8, 'Bräcke')
(33, 1, 'Cunewalde')
(32, 2, 'Graz')
(32, 4, 'Boise')
(30, 1, 'Boise')
(30, 1, 'Anchorage')
(30, 1, 'Cowes')
(30, 1, 'Cork')
(30, 1, 'Tsawassen')
(30, 1, 'Luleå')
(30, 1, 'México D.F.')
(30, 2, 'London')
(30, 2, 'Cork')
(30, 2, 'Sevilla')
(30, 2, 'Bergamo')
(30, 3, 'Barquisimeto')
(30, 3, 'São Paulo')
(30, 3, 'Bergamo')
(30, 3, 'Rio de Janeiro')
(30, 3, 'Tsawassen')
(30, 3, 'México D.F.')
(30, 3, 'London')
(30, 3, 'Bergamo')
(30, 3, 'Montréal')
(30, 4, 'Köln')
(30, 4, 'Graz')
(30, 4, 'Stuttgart')
(30, 4, 'Walla')
(30, 4, 'Genève')
(30, 4, 'Cork')
(30, 4, 'London')
(30, 4, 'Oulu')
(30, 4, 'Århus')
(30, 5, 'Graz')
(30, 5, 'Bern')
(30, 5, 'Strasbourg')
(30, 6, 'Strasbourg')
(30, 7, 'Strasbourg')
(30, 7, 'Montréal')
(30, 8, 'Barquisimeto')
(30, 8, 'Oulu')
(30, 8, 'Boise')
(30, 8, 'Albuquerque')
(30, 8, 'Bräcke')
(28, 1, 'Graz')
(28, 3, 'Luleå')
(28, 3, 'Montréal')
(28, 5, 'Lisboa')
(28, 6, 'Strasbourg')
(28, 7, 'Charleroi')
(28, 8, 'München')
(28, 8, 'San Cristóbal')
(25, 1, 'Bräcke')
(25, 1, 'Boise')
(25, 1, 'London')
(25, 1, 'Oulu')
(25, 3, 'San Cristóbal')
(25, 3, 'Albuquerque')
(25, 4, 'Cork')
(25, 4, 'Charleroi')
(25, 4, 'Barquisimeto')
(25, 4, 'München')
(25, 5, 'Stuttgart')
(25, 5, 'London')
(25, 5, 'Graz')
(25, 6, 'Anchorage')
(25, 8, 'Anchorage')
(25, 8, 'Genève')
(25, 8, 'Bräcke')
(25, 8, 'Tsawassen')
(25, 8, 'Luleå')
(24, 1, 'Toulouse')
(24, 1, 'München')
(24, 1, 'Stuttgart')
(24, 1, 'Strasbourg')
(24, 2, 'Madrid')
(24, 2, 'Rio de Janeiro')
(24, 3, 'München')
(24, 4, 'México D.F.')
(24, 4, 'Lander')
(24, 4, 'Albuquerque')
(24, 4, 'Graz')
(24, 6, 'Boise')
(24, 6, 'Lander')
(24, 6, 'Marseille')
(24, 8, 'Cunewalde')
(21, 1, 'Anchorage')
(21, 2, 'Frankfurt a.M.')
(21, 3, 'Boise')
(21, 3, 'Graz')
(21, 4, 'Albuquerque')
(21, 4, 'München')
(21, 6, 'London')
(21, 6, 'Bern')
(21, 7, 'Bern')
(20, 1, 'Portland')
(20, 1, 'Genève')
(20, 1, 'Rio de Janeiro')
(20, 1, 'Münster')
(20, 1, 'Rio de Janeiro')
(20, 1, 'Lander')
(20, 1, 'Graz')
(20, 1, 'London')
(20, 1, 'Cork')
(20, 1, 'Strasbourg')
(20, 1, 'Rio de Janeiro')
(20, 1, 'Toulouse')
(20, 2, 'Cork')
(20, 2, 'São Paulo')
(20, 2, 'Barquisimeto')
(20, 2, 'Lyon')
(20, 2, 'Rio de Janeiro')
(20, 2, 'Albuquerque')
(20, 3, 'Oulu')
(20, 3, 'São Paulo')
(20, 3, 'Rio de Janeiro')
(20, 3, 'Tsawassen')
(20, 3, 'Bergamo')
(20, 4, 'Rio de Janeiro')
(20, 4, 'Aachen')
(20, 4, 'Cunewalde')
(20, 4, 'Elgin')
(20, 4, 'Campinas')
(20, 4, 'Frankfurt a.M.')
(20, 4, 'Lander')
(20, 4, 'Stuttgart')
(20, 4, 'Genève')
(20, 4, 'Reims')
(20, 4, 'Seattle')
(20, 4, 'Strasbourg')
(20, 5, 'México D.F.')
(20, 5, 'London')
(20, 5, 'Stuttgart')
(20, 5, 'Albuquerque')
(20, 5, 'London')
(20, 5, 'Oulu')
(20, 6, 'Resende')
(20, 6, 'Anchorage')
(20, 6, 'Lander')
(20, 6, 'Stuttgart')
(20, 6, 'Cork')
(20, 6, 'Lisboa')
(20, 6, 'Luleå')
(20, 7, 'Oulu')
(20, 7, 'Leipzig')
(20, 7, 'London')
(20, 7, 'Marseille')
(20, 7, 'Bern')
(20, 8, 'Rio de Janeiro')
(20, 8, 'London')
(20, 8, 'Marseille')
(20, 8, 'München')
(20, 8, 'Toulouse')
(20, 8, 'Cowes')
(20, 8, 'Reggio Emilia')
(20, 8, 'Resende')
(18, 1, 'Albuquerque')
(18, 1, 'Bräcke')
(18, 2, 'Lisboa')
(18, 3, 'Barquisimeto')
(18, 3, 'São Paulo')
(18, 4, 'Toulouse')
(18, 5, 'Lander')
(18, 6, 'Århus')
(18, 7, 'Lisboa')
(18, 8, 'Aachen')
(18, 8, 'Cork')
(18, 8, 'Albuquerque')
(16, 2, 'Luleå')
(16, 2, 'Cunewalde')
(16, 2, 'Rio de Janeiro')
(16, 3, 'Montréal')
(16, 3, 'Barquisimeto')
(16, 3, 'Montréal')
(16, 4, 'Tsawassen')
(16, 5, 'Madrid')
(16, 8, 'Tsawassen')
(16, 8, 'Anchorage')
(15, 1, 'Stuttgart')
(15, 1, 'Bern')
(15, 1, 'Bern')
(15, 1, 'São Paulo')
(15, 1, 'Stavern')
(15, 1, 'Albuquerque')
(15, 1, 'München')
(15, 1, 'Frankfurt a.M.')
(15, 2, 'Rio de Janeiro')
(15, 2, 'Århus')
(15, 2, 'San Cristóbal')
(15, 3, 'Rio de Janeiro')
(15, 3, 'Münster')
(15, 3, 'Frankfurt a.M.')
(15, 3, 'São Paulo')
(15, 3, 'Toulouse')
(15, 3, 'London')
(15, 3, 'Anchorage')
(15, 3, 'Cork')
(15, 3, 'Sevilla')
(15, 4, 'Montréal')
(15, 4, 'Cunewalde')
(15, 4, 'Luleå')
(15, 4, 'Luleå')
(15, 4, 'Barquisimeto')
(15, 4, 'Köln')
(15, 4, 'Stavern')
(15, 4, 'Köln')
(15, 5, 'Lyon')
(15, 5, 'Münster')
(15, 6, 'Frankfurt a.M.')
(15, 6, 'Albuquerque')
(15, 6, 'São Paulo')
(15, 6, 'Resende')
(15, 6, 'Rio de Janeiro')
(15, 6, 'Oulu')
(15, 6, 'Marseille')
(15, 6, 'Tsawassen')
(15, 7, 'Albuquerque')
(15, 7, 'Elgin')
(15, 7, 'Cunewalde')
(15, 8, 'México D.F.')
(15, 8, 'Anchorage')
(15, 8, 'London')
(15, 8, 'Rio de Janeiro')
(15, 8, 'Walla')
(14, 1, 'Cowes')
(14, 1, 'Toulouse')
(14, 2, 'Århus')
(14, 4, 'Campinas')
(14, 6, 'Graz')
(14, 7, 'México D.F.')
(14, 7, 'Barquisimeto')
(13, 7, 'Graz')
(13, 8, 'Graz')
(12, 1, 'México D.F.')
(12, 1, 'Bergamo')
(12, 1, 'Luleå')
(12, 1, 'Charleroi')
(12, 1, 'Aachen')
(12, 1, 'Aachen')
(12, 2, 'Albuquerque')
(12, 2, 'Resende')
(12, 3, 'São Paulo')
(12, 3, 'Buenos Aires')
(12, 3, 'Leipzig')
(12, 4, 'Helsinki')
(12, 4, 'Barquisimeto')
(12, 4, 'Salzburg')
(12, 4, 'Oulu')
(12, 4, 'Stavern')
(12, 5, 'London')
(12, 5, 'Lander')
(12, 6, 'Stuttgart')
(12, 7, 'Buenos Aires')
(12, 7, 'Reggio Emilia')
(12, 8, 'Brandenburg')
(12, 8, 'México D.F.')
(12, 8, 'Cunewalde')
(12, 8, 'Marseille')
(10, 1, 'São Paulo')
(10, 1, 'London')
(10, 1, 'México D.F.')
(10, 1, 'Lisboa')
(10, 1, 'Toulouse')
(10, 1, 'Toulouse')
(10, 1, 'São Paulo')
(10, 1, 'Cowes')
(10, 1, 'Strasbourg')
(10, 1, 'Stuttgart')
(10, 2, 'Montréal')
(10, 2, 'Graz')
(10, 2, 'São Paulo')
(10, 2, 'Rio de Janeiro')
(10, 3, 'Portland')
(10, 3, 'Lander')
(10, 3, 'México D.F.')
(10, 3, 'Oulu')
(10, 3, 'Lisboa')
(10, 3, 'São Paulo')
(10, 3, 'Lander')
(10, 3, 'Portland')
(10, 3, 'Elgin')
(10, 3, 'Lisboa')
(10, 3, 'Lyon')
(10, 4, 'México D.F.')
(10, 4, 'London')
(10, 5, 'Helsinki')
(10, 5, 'Montréal')
(10, 6, 'Caracas')
(10, 6, 'Madrid')
(10, 6, 'Oulu')
(10, 6, 'Reggio Emilia')
(10, 6, 'Elgin')
(10, 6, 'Toulouse')
(10, 7, 'Lander')
(10, 7, 'Oulu')
(10, 8, 'México D.F.')
(10, 8, 'Elgin')
(10, 8, 'Madrid')
(10, 8, 'Lille')
(10, 8, 'Stuttgart')
(10, 8, 'Rio de Janeiro')
(10, 8, 'Albuquerque')
(9, 4, 'Lisboa')
(9, 4, 'København')
(9, 4, 'Tsawassen')
(9, 5, 'Cunewalde')
(9, 5, 'London')
(9, 7, 'São Paulo')
(9, 7, 'Brandenburg')
(9, 8, 'Graz')
(8, 1, 'Resende')
(8, 2, 'Luleå')
(8, 3, 'Lander')
(8, 4, 'København')
(8, 4, 'Barquisimeto')
(8, 4, 'San Cristóbal')
(8, 5, 'Lyon')
(8, 6, 'México D.F.')
(8, 8, 'Lander')
(8, 8, 'Rio de Janeiro')
(7, 1, 'Cork')
(7, 2, 'Århus')
(7, 3, 'Boise')
(7, 4, 'Nantes')
(7, 4, 'Reims')
(7, 5, 'Barcelona')
(6, 1, 'Madrid')
(6, 1, 'San Cristóbal')
(6, 1, 'México D.F.')
(6, 1, 'Albuquerque')
(6, 1, 'São Paulo')
(6, 1, 'Cowes')
(6, 2, 'Brandenburg')
(6, 3, 'Albuquerque')
(6, 4, 'Bräcke')
(6, 4, 'Reggio Emilia')
(6, 4, 'Graz')
(6, 4, 'Cork')
(6, 4, 'Bergamo')
(6, 4, 'Cork')
(6, 4, 'Bräcke')
(6, 5, 'Lyon')
(6, 5, 'Nantes')
(6, 5, 'Montréal')
(6, 6, 'Lille')
(6, 7, 'Stavern')
(6, 8, 'Madrid')
(6, 8, 'Toulouse')
(5, 1, 'Frankfurt a.M.')
(5, 1, 'México D.F.')
(5, 2, 'Brandenburg')
(5, 2, 'México D.F.')
(5, 2, 'Barcelona')
(5, 2, 'Barcelona')
(5, 3, 'Graz')
(5, 3, 'Portland')
(5, 4, 'London')
(5, 4, 'Helsinki')
(5, 5, 'Barcelona')
(5, 6, 'Madrid')
(5, 8, 'São Paulo')
(5, 8, 'Strasbourg')
(4, 1, 'Madrid')
(4, 1, 'Brandenburg')
(4, 3, 'Rio de Janeiro')
(4, 3, 'Brandenburg')
(4, 3, 'Frankfurt a.M.')
(4, 4, 'Brandenburg')
(4, 4, 'Caracas')
(4, 5, 'Reims')
(4, 6, 'México D.F.')
(4, 7, 'Stuttgart')
(4, 8, 'São Paulo')
(3, 3, 'Reggio Emilia')
(3, 3, 'Portland')
(3, 4, 'Cork')
(3, 4, 'Barquisimeto')
(2, 3, 'Torino')
(2, 4, 'México D.F.')
(2, 5, 'Cork')
(2, 5, 'Albuquerque')
(2, 5, 'Madrid')
(2, 6, 'Elgin')
(2, 7, 'Rio de Janeiro')
(2, 8, 'Resende')
(2, 8, 'São Paulo')
(2, 8, 'København')
(1, 3, 'Madrid')
(1, 4, 'México D.F.')
(1, 8, 'México D.F.')

In [122]:
cursor=db.cursor()
sql='''
select order_details.Quantity, products.productname, customers.country from order_details inner join products on order_details.ProductID=products.ProductID 
inner join orders on orders.OrderID=order_details.OrderID inner join customers on customers.CustomerID=orders.CustomerID where customers.country='USA'
order by order_details.Quantity desc
'''

cursor.execute(sql)
resultset=cursor.fetchall()
for result in resultset:
    print(result)

(120, 'Pâté chinois', 'USA')
(90, "Sirop d'érable", 'USA')
(80, 'Vegie-spread', 'USA')
(70, 'Tarte au sucre', 'USA')
(70, 'Steeleye Stout', 'USA')
(70, 'Northwoods Cranberry Sauce', 'USA')
(70, 'Gumbär Gummibärchen', 'USA')
(70, 'Gnocchi di nonna Alice', 'USA')
(60, 'Geitost', 'USA')
(60, 'Fløtemysost', 'USA')
(50, 'Schoggi Schokolade', 'USA')
(50, 'Ravioli Angelo', 'USA')
(49, 'Pavlova', 'USA')
(45, 'Chang', 'USA')
(42, 'Tofu', 'USA')
(40, 'Mascarpone Fabioli', 'USA')
(40, 'Tourtière', 'USA')
(40, 'Gorgonzola Telino', 'USA')
(40, 'Raclette Courdavault', 'USA')
(36, 'Alice Mutton', 'USA')
(35, "Chef Anton's Cajun Seasoning", 'USA')
(32, 'Gorgonzola Telino', 'USA')
(30, 'Escargots de Bourgogne', 'USA')
(30, 'Spegesild', 'USA')
(30, 'Chartreuse verte', 'USA')
(30, 'Steeleye Stout', 'USA')
(25, 'Tarte au sucre', 'USA')
(25, 'Carnarvon Tigers', 'USA')
(25, 'Thüringer Rostbratwurst', 'USA')
(25, 'Chang', 'USA')
(24, 'Geitost', 'USA')
(24, 'Thüringer Rostbratwurst', 'USA')
(24, 'Tourtière', 'USA')
(24, 'Mozzarella di Giovanni', 'USA')
(21, 'Camembert Pierrot', 'USA')
(21, 'Pavlova', 'USA')
(21, 'Outback Lager', 'USA')
(20, 'Thüringer Rostbratwurst', 'USA')
(20, 'Geitost', 'USA')
(20, 'Côte de Blaye', 'USA')
(20, 'Gnocchi di nonna Alice', 'USA')
(20, 'Alice Mutton', 'USA')
(20, 'Louisiana Fiery Hot Pepper Sauce', 'USA')
(20, 'Camembert Pierrot', 'USA')
(20, 'Mozzarella di Giovanni', 'USA')
(20, 'Chais', 'USA')
(18, 'Nord-Ost Matjeshering', 'USA')
(18, 'Chais', 'USA')
(18, 'Gnocchi di nonna Alice', 'USA')
(16, "Jack's New England Clam Chowder", 'USA')
(15, 'Nord-Ost Matjeshering', 'USA')
(15, "Uncle Bob's Organic Dried Pears", 'USA')
(15, 'Tofu', 'USA')
(15, 'Ipoh Coffee', 'USA')
(15, 'Alice Mutton', 'USA')
(15, 'Tarte au sucre', 'USA')
(12, "Chef Anton's Gumbo Mix", 'USA')
(12, 'Gnocchi di nonna Alice', 'USA')
(10, 'Tarte au sucre', 'USA')
(10, "Jack's New England Clam Chowder", 'USA')
(10, 'Gumbär Gummibärchen', 'USA')
(10, 'Tarte au sucre', 'USA')
(10, "Uncle Bob's Organic Dried Pears", 'USA')
(10, 'Tourtière', 'USA')
(10, 'Teatime Chocolate Biscuits', 'USA')
(10, 'Konbu', 'USA')
(10, 'Pavlova', 'USA')
(8, 'Scottish Longbreads', 'USA')
(8, 'Nord-Ost Matjeshering', 'USA')
(7, 'NuNuCa Nuß-Nougat-Creme', 'USA')
(6, "Sir Rodney's Marmalade", 'USA')
(6, 'Rhönbräu Klosterbier', 'USA')
(5, 'Tarte au sucre', 'USA')
(3, 'Scottish Longbreads', 'USA')
(2, 'Alice Mutton', 'USA')
(2, 'Gnocchi di nonna Alice', 'USA')